@font-face {
  font-family: "Fira Code";
  src: url("/fonts/FiraCode-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Fira Code";
}
